vids/
cascade/training/neg/
cascade/training/dangerous/*
!cascade/training/dangerous/MDG9.png
cascade/training/corrosive/*
!cascade/training/corrosive/corrosive.png
cascade/training/bg.txt
ml/training/frames/
ml/opencv/
ml/keras-yolo3
ml/testing/
ml/training/mi5s-targets