__pycache__/
.vscode/
vids/
classifiers/training/neg/
classifiers/training/dangerous/*
!classifiers/training/dangerous/MDG9.png
classifiers/training/corrosive/*
!classifiers/training/corrosive/corrosive.png
classifiers/training/bg.txt
ml/training/frames/
